@charset "UTF-8";
:root{
  --bg-color:#fff;
  --secondary-bg-color:#eeeeee;
  --heading-color: #5f5f5f;
  --body-color: rgba(0, 0, 0, 0.7);
  --post-color: rgba(0, 0, 0, 0.44);
  --border-color: rgba(0, 0, 0, 0.15);
  --pre-bg-color: #f9f9fd;
  --nav-text-color:#5a5a5a;
  --tag-color: #424242;
  scroll-padding-top: 100px;
}

html[data-theme='dark'] {
  --bg-color:#292a2d;
  --secondary-bg-color:rgb(119, 119, 122);
  --heading-color: rgb(169,169,179);
  --body-color:rgb(169,169,179);
  --post-color: rgba(0, 0, 0, 0.44);
  --border-color: rgb(38, 38, 38);
  --pre-bg-color:rgb(33,33,45);
  --nav-text-color:rgb(191, 191, 191);
  --tag-color: rgb(191, 191, 191);

}

html {
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;

}

body {
  color: var(--body-color);
  font-family: 'Verdana', sans-serif;
  font-size: 15px;
  width: 100%;
  margin: 0 auto 30px auto;
  background-color: var(--bg-color);
}

p {
  line-height: 1.9em;
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
}


.category {
  padding: 4px 6px;
  border-radius: 3px;
  color: #000 !important;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
}

.tag::before {
  content: "#";
  opacity: .5;
}

.tag, .category {
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  margin: 5px 8px 5px 0;
}

pre {
  background-color: var(--pre-bg-color);
  padding: 5px;
  display: block;
  overflow-x: auto;
}

.info i{
  opacity: 0.5;
  margin-right: 5px;
}

a:link, a:visited {
  opacity: 1;
  color: var(--tag-color);
}

a:hover, a:active {
  color: #2660ab;
}

/*basic styles ends*/
/*animation starts*/

.animated {
  transition: top .8s linear;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    -moz-transform: translateY(-20px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    -o-transform: translateY(-20px);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*animation ends*/
.content {
  height: auto;
  float: right;
  width: 60%;
  margin-top: 60px;
}

.page-top {
  width: 60%;
  position: fixed;
  right: 0;
  z-index: 3;
  background-color: var(--bg-color);
  height: 60px;
  border-bottom: 1px solid var(--border-color);
}
.page-top .nav {
  list-style: none;
  padding: 11px 30px;
  float: left;
  font-size: 12px;
}
.page-top .nav li {
  position: relative;
  display: initial;
  padding-right: 20px;
}
.page-top .nav a {
  color: var(--nav-text-color);
}
.page-top .nav a:hover {
  color: #2660ab;
}
.page-top .nav a.current {
  color: var(--nav-text-color);
  padding-bottom: 22px;
  border-bottom: 1px solid var(--nav-text-color);
}
.page-top .themeswitcher {
  list-style: none;
  padding: 15px 30px;
  float: right;
  font-size: 1.6em;
}
.page-top .information {
  float: right;
  padding-top: 12px;
  padding-right: 20px;
}
.page-top .information .avatar {
  float: right;
}
.page-top .information .avatar img {
  width: 32px;
  height: 32px;
  border-radius: 300px;
}
.page-top .information .back_btn {
  float: left;
  padding-top: 5px;
  margin-right: -10px;
}
.page-top .information .back_btn li {
  display: initial;
  padding-right: 40px;
}

.sidebar {
  width: 40%;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: var(--bg-color);
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
  border-right: 1px solid var(--border-color);
}
.sidebar .logo-title {
  text-align: center;
  padding-top: 240px;
}
.sidebar .logo-title .description {
  font-size: 14px;
}
.sidebar .logo-title .logo {
  margin: 0 auto;
}
.sidebar .logo-title .title img {
  width: 127px;
  border-radius: 50%;
}
.sidebar .logo-title .title h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1;
  margin: 1em;
}
.sidebar .logo-title .title a {
  text-decoration: none;
  color: var(--heading-color);
  font-size: 2rem;
  font-weight: bold;
}
.sidebar .social-links {
  list-style: none;
  padding: 0;
  font-size: 14px;
  text-align: center;
}
.sidebar .social-links i {
  margin-right: 3px;
}
.sidebar .social-links li {
  display: inline;
  padding: 0 4px;
  line-height: 0;
}
.sidebar .social-links a {
  color: var(--heading-color);
}
.sidebar .social-links a:hover {
  color: #2660ab;
}

.post {
  background-color: var(--bg-color);
  margin: 30px;
}
.post .post-title h1 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 1;
}
.post .post-title h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 28px;
  line-height: 1;
  font-weight: 600;
  color: var(--heading-color);
}
.post .post-title h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 600;
  /* color: #464646; */
  color: var(--heading-color);
  font-size: 22px;
  margin: 0;
}
.post .post-title a {
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--heading-color);
}
.post .post-title a:hover {
  text-decoration: underline;
}
.post .post-content a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #2660ab;
}
.post .post-content a:hover {
  color: #2F69B3;
}
.post .post-content h3 {
  font-size: 22px;
  font-weight: 600;
}
.post .post-content h4 {
  /* color: var(--heading-color); */
  font-size: 16px;
}
.post .post-content img {
  max-width: 100%;
}
.post .post-footer {
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--border-color);
}
.post .post-footer .meta {
  max-width: 100%;
  display: flex;
  color: #bbbbbb;
}
.post .post-footer .meta .info {
  float: left;
  font-size: 12px;
  margin-bottom: 1em;
  color: var(--body-color);
}
.post .post-footer .info .separator a {
  margin-right: 0.2em;
}
.post .post-footer .meta .info .date {
  margin-right: 10px;
}
.info {
  margin: 1em;
}
.post .post-footer .meta a {
  text-decoration: none;
  color: var(--body-color);
  padding-right: 10px;
}
.post .post-footer .meta a:hover {
  color: #2660ab;
}
.post .post-footer .meta i {
  margin-right: 6px;
}
.post .post-footer .tags {
  padding-bottom: 15px;
  font-size: 13px;
}
.post .post-footer .tags ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}
.post .post-footer .tags ul li {
  list-style-type: none;
  margin: 0;
  padding-right: 5px;
  display: inline;
}
.post .post-footer .tags a {
  text-decoration: none;
  color: var(--post-color);
  font-weight: 400;
}
.post .post-footer .tags a:hover {
  text-decoration: none;
}

.pagination {
  margin: 30px;
  padding: 0px 0 56px 0;
  text-align: center;
}
.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 13px;
}
.pagination ul li {
  margin: 0 2px 0 2px;
  display: inline;
  line-height: 1;
}
.pagination ul li a {
  text-decoration: none;
  color: var(--body-color);
}
.pagination .pre {
  float: left;
}
.pagination .next {
  float: right;
}

.like-reblog-buttons {
  float: right;
}

.like-button {
  float: right;
  padding: 0 0 0 10px;
}

.reblog-button {
  float: right;
  padding: 0;
}

#install-btn {
  position: fixed;
  bottom: 0px;
  right: 6px;
}

#disqus_thread {
  margin: 30px;
  border-bottom: 1px solid var(--border-color);
}

.footer {
  clear: both;
  text-align: center;
  font-size: 10px;
  margin: 0 auto;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-bottom: 20px;
}
.footer a {
  color: #A6A6A6;
}
.footer a:hover {
  color: #2660ab;
}

/*for archive*/
.archive {
  width: 100%;
}

.list-with-title {
  font-size: 14px;
  margin: 30px;
  padding: 0;
}
.list-with-title li {
  list-style-type: none;
  padding: 0;
}
.list-with-title .listing-title {
  font-size: 24px;
  color: #666666;
  font-weight: 600;
  line-height: 2.2em;
}
.list-with-title .listing {
  padding: 0;
}
.list-with-title .listing .listing-post {
  padding-bottom: 5px;
}
.list-with-title .listing .listing-post .post-time {
  float: right;
  color: #C5C5C5;
}
.list-with-title .listing .listing-post a {
  color: #8F8F8F;
}
.list-with-title .listing .listing-post a:hover {
  color: #2660ab;
}

/* share */
.share {
  margin: 0px 30px;
  display: inline-flex;
}

.evernote {
  width: 32px;
  height: 32px;
  border-radius: 300px;
  background-color: #3E3E3E;
  margin-right: 5px;
}
.evernote a {
  color: #fff;
  padding: 11px;
  font-size: 12px;
}
.evernote a:hover {
  color: #ED6243;
  padding: 11px;
}

.weibo {
  width: 32px;
  height: 32px;
  border-radius: 300px;
  background-color: #ED6243;
  margin-right: 5px;
}
.weibo a {
  color: #fff;
  padding: 9px;
}
.weibo a:hover {
  color: #BD4226;
}

.twitter {
  width: 32px;
  height: 32px;
  border-radius: 300px;
  background-color: #59C0FD;
  margin-right: 5px;
}
.twitter a {
  color: #fff;
  padding: 9px;
}
.twitter a:hover {
  color: #4B9ECE;
}

/* about */
.about {
  margin: 30px;
}
.about h3 {
  font-size: 22px;
}

/* links*/
.links {
  margin: 30px;
}
.links h3 {
  font-size: 22px;
}
.links a {
  cursor: pointer;
}

/* Comments */
.comment-count {
  color: #666;
}

.tab-community {
  color: #666;
}

.read_more {
  font-size: 14px;
}

.back-button {
  padding-top: 30px;
  max-width: 100px;
  padding-left: 40px;
  float: left;
}

/* Facebook Comments */
#fb_comments_container {
  margin: 30px;
}

/* Buttons */
a.btn {
  color: #868686;
  font-weight: 400;
}

.btn {
  display: inline-block;
  position: relative;
  outline: 0;
  color: var(--post-color);
  background: transparent;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--border-color);
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
}

.btn:hover {
  display: inline-block;
  position: relative;
  outline: 0px;
  color: #464545;
  background: transparent;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #464545;
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
}

[role="back"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

[role="home"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

[role="navigation"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

[role="tags"] {
  padding: 6px 12px;
}

/* Menu */
.menu {
  float: right;
  padding-top: 30px;
}
.menu .btn-down {
  margin: 0px;
}
.menu .btn-down li {
  list-style: none;
  width: 100px;
}
.menu .btn-down li a {
  display: inline-block;
  position: relative;
  padding: 0.5em 1.25em;
  outline: 0;
  color: var(--post-color);
  background: transparent;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--border-color);
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
  margin-top: 5px;
}
.menu .btn-down li a:hover {
  position: relative;
  padding: 0.5em 1.25em;
  outline: 0;
  color: #fff;
  background: #3CBD10;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
  margin-top: 5px;
}
.menu .btn-down div {
  position: absolute;
  visibility: hidden;
  width: 100px;
  float: right;
}

.page_404 {
  text-align: center;
  padding-top: 50px;
}



@media screen and (max-width: 960px) {
  .sidebar {
    width: 100%;
    position: absolute;
    border-right: none;
    z-index: 1;
  }
  .sidebar .logo-title {
    padding-top: 120px;
  }
  .sidebar .logo-title .title img {
    width: 100px;
  }
  .sidebar .logo-title .title h3 {
    font-size: 20px;
  }

  .page-top {
    width: 100%;
  }

  .post-title h3 {
    line-height: 1.6;
  }

  .content {
    margin-top: 420px;
    width: 100%;
    z-index: 2;
    position: absolute;
  }

  .footer {
    display: none;
  }

  .share {
    display: grid;
  }
}


/* Medium zoom */
.medium-zoom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms;
  will-change: opacity;
  background: var(--bg-color);
}

.medium-zoom--opened .medium-zoom-overlay {
  cursor: pointer;
  cursor: zoom-out;
  opacity: 1;
}

.medium-zoom-image {
  cursor: pointer;
  cursor: zoom-in;
  /*
    The `transition` is marked as "!important" for the animation to happen
    even though it's overriden by another inline `transition` style attribute.
    This is problematic with frameworks that generate inline styles on their
    images (e.g. Gatsby).
    See https://github.com/francoischalifour/medium-zoom/issues/110
   */
  transition: transform 300ms cubic-bezier(0.2, 0, 0.2, 1) !important;
  z-index: 100;
}

.medium-zoom-image--hidden {
  visibility: hidden;
}

.medium-zoom-image--opened {
  position: relative;
  cursor: pointer;
  cursor: zoom-out;
  will-change: transform;
}

/* added CSS for putting About content on homepage
*/

.homepage-content {
  margin: 30px;
  padding: 0;
}

.homepage-content a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #2660ab;
  }

.homepage-content a:hover {
  color: #2f69b3;
}

.homepage-header h1 {
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
	font-weight: 600;
	color: var(--heading-color);
	font-size: 22px;
	margin: 30px;

}

.blog {
  margin: 30px;
  padding: 0;
}

hr {
  height: 3px;
}
