{{ define "main" }}

      <div class="archive animated fadeInDown">

  {{ range first 25 .Pages }}
      <article>
        <!-- this <div> includes the title summary -->
        <div class="blog">
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <p><i>{{ .Date.Format "Jan 2, 2006" }}</i></p>
          {{ .Summary }}
        {{ if .Truncated }}
        <!-- This <div> includes a read more link, but only if the summary is truncated... -->
        <div>
          <a href="{{ .RelPermalink }}"><h3>…</h3></a>
        </div>
        {{ end }}
      </article>
      <hr>
  {{ end }}

      </div>
{{ end }}
